a,
.details .description a,
.widget a:hover,
.widget a:focus,
.details .description a,
.entry-meta span a:hover,
.entry-meta span a:focus,
.entry-header h2 a:hover,
.entry-header h2 a:focus,
.widget .product-categories .children a:hover,
.widget .product-categories .children a:focus,
.widget .product-categories .children .current-cat a,
.current-cat.cat-parent a,.current-cat-parent a,
.widget ul.product_list_widget .product-title,
.widget_shopping_cart_content .wc-forward,
.tab-content h4,
.tab-content h2 a:hover,
.tab-content h2 a:focus,
.tab-content h3 a:hover,
.tab-content h3 a:focus,
.home-footer-sidebar .widget > div h4,
.byt_address_widget em,
.tab-content .room-types .meta h3	{color:#0E3083;}

ul > li:before,
.ico:before {color:#F58220;}

.social li a:hover,
.social li a:focus,
.contact:before,
.header .ribbon,
.header #lang_sel li,
.header #lang_sel_click li,
.location_item .ribbon:focus,
.location_item .ribbon:hover,
.view-type .active,
.inner-nav li:hover,
.inner-nav li.active,
.inner-nav li.active:hover,
.inner-nav li.current-menu-item,
.inner-nav li.current-menu-item:hover,
.chart dd span,
.infoBox,
.lb-wrap,
.ui-slider-horizontal .ui-slider-handle,
.pager .current,
.pager a:hover     		{background:#113C9D;}

.header .ribbon:before,
.descending:hover:before,
.descending:focus:before,
.infoBox:after 		{border-color:#113C9D transparent transparent transparent;}

.header .ribbon:after 				{border-color: transparent #113C9D transparent transparent;}

.ascending:hover:before,
.ascending:focus:before			{border-color: transparent transparent #113C9D transparent;}

.inner-nav li.active a:after,
.inner-nav li.current-menu-item a:after		{border-color: transparent transparent transparent #113C9D;}

.ball,
.ball1 {border: 10px solid #113C9D;}

.gradient-button,.wpcf7-submit,.form-submit #submit,
button, input[type="button"], input[type="reset"], input[type="submit"],.scroll-to-top,.testimonials,
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,
.ui-datepicker .ui-state-hover, 							
.ui-datepicker .dp-highlight a,						
.ui-datepicker .dp-highlight span
{
	background: #F58220;
	background: -moz-linear-gradient(top, #113C9D 0%, #0E3083 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#113C9D), color-stop(100%,#0E3083));
	background: -webkit-linear-gradient(top, #113C9D 0%,#0E3083 100%);
	background: -o-linear-gradient(top, #113C9D 0%,#0E3083 100%);
	background: -ms-linear-gradient(top, #113C9D 0%,#0E3083 100%);
	background: linear-gradient(to bottom, #113C9D 0%,#0E3083 100%);
}

.gradient-button:hover,.wpcf7-submit:hover,.form-submit #submit:hover,
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover,.scroll-to-top:hover,.scroll-to-top:focus,
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,
.woocommerce #respond input#submit:focus, .woocommerce a.button:focus, .woocommerce button.button:focus, .woocommerce input.button:focus
 
{
	background: #F58220;
	background: -moz-linear-gradient(top, #0E3083 0%, #113C9D 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0E3083), color-stop(100%,#113C9D));
	background: -webkit-linear-gradient(top, #0E3083 0%,#113C9D 100%);
	background: -o-linear-gradient(top, #0E3083 0%,#113C9D 100%);
	background: -ms-linear-gradient(top, #0E3083 0%,#113C9D 100%);
	background: linear-gradient(to bottom, #0E3083 0%,#113C9D 100%);
}

.scroll-to-top:before 			{border-color: transparent transparent #113C9D transparent;}
.scroll-to-top:hover:before	{border-color: transparent transparent #0E3083 transparent;}

.image-overlay:before {background:rgba(14, 48, 131, 0.9);}

/*body {background-image:url(../images/backgrounds/polyester_lite.png);}*/
body {background: #FFF;}
